<!DOCTYPE html>
<html lang="en" ng-app="minmax">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Controllers</title>
		<!--
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		   -->
		<!--
			 <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
			 <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
			 <link rel="stylesheet" href="app.css">
		   -->
		<link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="minmax.css">
	</head>
	<body>
		<div class="container" ng-controller="MinMaxCtrl">
			<form>
				<div class="form-group">
					<label for="name">Name</label>
					<input type="text"
						   id="name"
						   ng-model="formModel.name"
						   class="form-control">
				</div>

				<div class="form-group">
					<label for="email">Email</label>
					<input type="email"
						   id="email"
						   ng-model="formModel.email"
						   class="form-control">
				</div>

				<div class="form-group">
					<label for="password">Password</label>
					<input type="password"
						   id="password"
						   ng-model="formModel.password"
						   class="form-control">
				</div>

				<div class="form-group">
					<button class="btn btn-success" ng-click="onSubmit()">Register</button>
				</div>
				<pre>{{formModel | json}}</pre>
			</form>
		</div>
		<script src="/node_modules/jquery/dist/jquery.min.js"></script>
		<script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
		<script src="bower_components/angular/angular.js"></script>
		<script src="bower_components/angular-route/angular-route.js"></script>
		<script src="bower_components/angular-auto-validate/dist/jcs-auto-validate.min.js"></script>
		<script src="minmax.js"></script>
	</body>
</html>
